.profileWrap {
    width: 100%;
}

.profileBackground {
    display: block;
    height: 200px;
    margin-bottom: 15px;
}

.profileBackground img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.profileAvatar {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.profileAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profileContactList {
    display: flex;
}

.profileContact {
    text-align: center;
}

.profileContactItem {
    margin: 0 10px;
}

.profileDesc {
    display: flex;
    align-items: center;
}

.defaultLink {
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform 0.3s linear;
    transform: scale(1);
}

.defaultLink:hover {
    transition: transform 0.3s linear;
    transform: scale(1.2);
}

.linkFacebook {
    background: url("https://cdn-icons.flaticon.com/png/512/3536/premium/3536394.png?token=exp=1636305354~hmac=0a8232c25a77130ed43eb9da5e1fa1c3") 0 0 / cover no-repeat;
}

.linkWebsite {
    background: url("https://cdn-icons-png.flaticon.com/512/1786/1786115.png") 0 0 / cover no-repeat;
}

.linkVk {
    background: url("https://cdn-icons.flaticon.com/png/512/3938/premium/3938067.png?token=exp=1636305802~hmac=91d0914970a1c213fa7275119ac68c4d") 0 0 / cover no-repeat;
}

.linkTwitter {
    background: url("https://cdn-icons.flaticon.com/png/512/3536/premium/3536424.png?token=exp=1636305909~hmac=27890f6ccf2e7b9bba8cf32e11c12859") 0 0 / cover no-repeat;
}

.linkInstagram {
    background: url("https://cdn-icons-png.flaticon.com/512/174/174855.png") 0 0 / cover no-repeat;
}

.linkYoutube {
    background: url("https://cdn-icons.flaticon.com/png/512/3938/premium/3938026.png?token=exp=1636305998~hmac=5a7425199b9cda6f78d71a14b968d8bd") 0 0 / cover no-repeat;
}

.linkGithub {
    background: url("https://cdn-icons.flaticon.com/png/512/3291/premium/3291695.png?token=exp=1636306027~hmac=11bbaf86e2faf7cd6ff263bee8256bb6") 0 0 / cover no-repeat;
}

.linkMainLink {
    background: url("https://cdn-icons.flaticon.com/png/512/3316/premium/3316455.png?token=exp=1636306106~hmac=a76443d0b360dc7ce9c3e5d1bce8ec9f") 0 0 / cover no-repeat;
}

.linkNone {
    pointer-events: none;
    filter: grayscale(1);
    transform: scale(1);
}

.contactTitle {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}


.profileAbout {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.profileAbout {
    font-weight: 500;
    font-size: 21px;
}

.profileInfo {
    margin-left: 100px;
}

.aboutMe {
    font-weight: 500;
    margin-bottom: 10px;
}


.fullName {
    margin-bottom: 10px;
}

.lookingForAJob {
    margin-bottom: 10px;
}

.lookingForAJobDescription {
    margin-bottom: 10px;
}

.spanDefault {
    font-weight: 400;
    font-size: 20px;
}