@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

._SliderRSWP {
    margin-bottom: 10px;
}

.rswp__active {
    border: none !important;
}


@media (max-width: 1024px) {
    ._ContentRSWP {
        flex-direction: row !important;
    }

    ._ControlsRSWP {
        transform: translateX(50%);
        position: relative;
        left: -50%;
    }
}

@media (max-width: 600px) {
    ._ControlsRSWP {
        flex-direction: row !important;
        transform: translateX(50%);
        position: relative;
        left: -50%;

    }

    ._ContentRSWP {
        flex-direction: column !important;
    }

    ._ActionsRSWP {
        display: none !important;
    }

    .rswp__active {
        justify-content: space-between;
    }

}

@media (max-width: 750px) {
    /*.PlayerRSWP {*/
    /*    padding: 5px;*/
    /*}*/
}